In [1]:
import pandas as pd
import numpy as np

# Dataset de empleados para consultoría
empleados = pd.DataFrame({
    'empleado_id': ['E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E008'],
    'nombre': ['Ana García', 'Carlos López', 'María Rodriguez', 'Juan Pérez', 
               'Laura Martín', 'Pedro Sánchez', 'Sofia Hernández', 'Diego Torres'],
    'departamento': ['Consultoría', 'IT', 'Consultoría', 'Finanzas', 'IT', 'Consultoría', 'Finanzas', 'IT'],
    'salario': [65000, 70000, 62000, 75000, 68000, 67000, 72000, 69000],
    'antiguedad': [3, 5, 2, 7, 4, 6, 3, 1],
    'evaluacion': [8.5, 9.2, 7.8, 9.0, 8.8, 8.2, 9.1, 7.5],
    'ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona']
})

# Configurar índice personalizado
empleados.set_index('empleado_id', inplace=True)
print(empleados.head())

                      nombre departamento  salario  antiguedad  evaluacion  \
empleado_id
E001              Ana García  Consultoría    65000           3         8.5
E002            Carlos López           IT    70000           5         9.2
E003         María Rodriguez  Consultoría    62000           2         7.8
E004              Juan Pérez     Finanzas    75000           7         9.0
E005            Laura Martín           IT    68000           4         8.8

                ciudad
empleado_id
E001            Madrid
E002         Barcelona
E003            Madrid
E004          Valencia
E005         Barcelona

# TODO: Usando loc, selecciona:
# 1. Empleados E002, E004, E006
# 2. Solo las columnas: nombre, departamento, salario
# Tu solución aquí:

In [2]:
emplados_por_departamento = empleados.loc[['E002', 'E004', 'E006'], ['nombre', 'departamento', 'salario']]
print("\nEmpleados seleccionados por departamento y salario:")
print(emplados_por_departamento)

Empleados seleccionados por departamento y salario:
                    nombre departamento  salario
empleado_id
E002          Carlos López           IT    70000
E004            Juan Pérez     Finanzas    75000
E006         Pedro Sánchez  Consultoría    67000

# TODO: Encuentra empleados que:
# 1. Trabajen en Madrid O Barcelona
# 2. Tengan evaluación >= 8.0
# 3. Muestren solo: nombre, ciudad, evaluacion, salario
# Tu solución aquí:

In [3]:
empleados_filtrados = empleados.loc[
    (empleados['ciudad'].isin(['Madrid', 'Barcelona'])) & 
    (empleados['evaluacion'] >= 8.0),
    ['nombre', 'ciudad', 'evaluacion', 'salario']
]
print("\nEmpleados en Madrid o Barcelona con evaluación >= 8.0:")
print(empleados_filtrados)

Empleados en Madrid o Barcelona con evaluación >= 8.0:
                    nombre     ciudad  evaluacion  salario
empleado_id
E001            Ana García     Madrid         8.5    65000
E002          Carlos López  Barcelona         9.2    70000
E005          Laura Martín  Barcelona         8.8    68000
E006         Pedro Sánchez     Madrid         8.2    67000

# TODO: Usando iloc:
# 1. Selecciona los últimos 3 empleados
# 2. Solo las primeras 4 columnas
# Tu solución aquí:

In [4]:
ultimos_empleados = empleados.iloc[-3:,:4]
print("\nÚltimos 3 empleados con las primeras 4 columnas:")
print(ultimos_empleados)

Últimos 3 empleados con las primeras 4 columnas:
                      nombre departamento  salario  antiguedad
empleado_id
E006           Pedro Sánchez  Consultoría    67000           6
E007         Sofia Hernández     Finanzas    72000           3
E008            Diego Torres           IT    69000           1